@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Cinzel:wght@400..900&family=Italiana&family=Julius+Sans+One&family=Junge&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Koulen&family=Lalezar&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ranga:wght@400;700&family=Revalia&family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Cinzel:wght@400..900&family=Italiana&family=Julius+Sans+One&family=Junge&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Koulen&family=Lalezar&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ranga:wght@400;700&family=Revalia&family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Cinzel:wght@400..900&family=Italiana&family=Julius+Sans+One&family=Junge&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Koulen&family=Lalezar&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ranga:wght@400;700&family=Revalia&family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');
@import "tailwindcss";
@plugin "tailwindcss-motion";

@font-face {
  font-family: "Cronde";
  src: url("/fonts/CRONDE.otf") format("opentype");
}

@font-face {
  font-family: "Bright-Marching";
  src: url("/fonts/BrightMarching-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Amore-Christmas";
  src: url("/fonts/Amore-Christmas.otf") format("opentype");
}

@theme {
  --font-Michroma: "Michroma", sans-serif; 
  --font-Zen-Dots: "Zen Dots", sans-serif; 
  --font-Urbanist: "Urbanist", sans-serif;
  --font-Cronde: "Cronde", sans-serif;
  --font-Amore-Christmas: "Amore-Christmas", sans-serif;
  --font-Bright-Marching: "Bright-Marching", sans-serif;
}

html, .sidebar, .content{
  scrollbar-width: none;
}

::-webkit-scrollbar{
  display: none;
}


